<body>
	<div class='cyclo'>
	<img src="">(Cyclo)
	</div>

	<div class="play">
		<img src="">(Play)
	</div>

	<div class="options">
		<img src="">(Options)
	</div>

	<div class="about">
		<img src="">(About)
	</div>
</body>