<link rel="stylesheet" type="text/css" href="maps.css.scss">
<style type="text/css">
	body {
		background-image: url(C:\Users\Alejandro\Desktop\Ironhack\Vagrant\cyclo\app\views\maps\Mapa.png); /*No funciona*/

	}
</style>

<body>
<div id = 'savanna'><img src='Leon_mapa.jpg'/></div> <!-- No funciona -->
<div id = 'ocean'></div>
<div id = 'jungle'></div>
</body>